
    <ion-content [fullscreen]="true">
      <div class="main-body">
      <h2>Scegli un ruolo</h2>
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-md="4" size-lg="3" *ngFor="let ruolo of ruoli">
            <ion-button expand="block"
                        [color]="ruoloSelezionato === ruolo.codice ? 'primary' : 'secondary'"
                        (click)="selezionaRuolo(ruolo)">
              {{ ruolo.nome }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div *ngIf="ruoloSelezionato">
      <h2>Top 10 {{ ruoloEsteso || 'Giocatori' }}</h2>
      <ion-list *ngIf="giocatori.length > 0">
        <ion-item *ngFor="let g of giocatori" class="giocatore-item">
          <ion-label>
            <h3>{{g.nome}} {{g.cognome}}</h3>
            <p *ngIf="g.ruolo">Ruolo: {{g.ruolo}}</p>
            <p *ngIf="g.squadra">Squadra: {{g.squadra}}</p>
            <p *ngIf="g.voto">Voto: {{g.voto}}</p>
            <p *ngIf="g.descrizione">{{g.descrizione}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <div *ngIf="giocatori.length === 0" >
        Nessun giocatore trovato.
      </div>
      </div>
      </div>
    </ion-content>