
    <div class="sfondo"></div>
      <div class="main-body">
      <h2>Scegli un ruolo</h2>
      <ion-grid>
         <ng-container *ngFor="let ruoli of ruoliRighe; let i = index">
        <ion-row [class.center-row]="i === 1 || i === 3">
          <ion-col size="6" size-md="4" size-lg="3" *ngFor="let ruolo of ruoli">
            <ion-button expand="block" class="ruolo-btn"
                        [class.selected]="ruoloSelezionato === ruolo.codice"
                        (click)="selezionaRuolo(ruolo)">
              {{ ruolo.nome }}
            </ion-button>
          </ion-col>
        </ion-row>
        </ng-container>
      </ion-grid>
      <div *ngIf="ruoloSelezionato">
      <h2>Top 10 {{ ruoloEsteso || 'Giocatori' }}</h2>
      <ion-list *ngIf="giocatori.length > 0">
        <ion-item *ngFor="let g of giocatori; let i = index"
            class="giocatore-item"
            [ngClass]="{
              'oro': i === 0,
              'argento': i === 1,
              'bronzo': i === 2
            }">
          <ion-label>
            <h3>  
              <span class="posizione"> 
                {{i + 1}}.
              </span>
              {{g.nome}} {{g.cognome}}</h3>
            <h4 *ngIf="g.voto">Voto: {{g.voto}}</h4>
            <h5 *ngIf="g.descrizione">{{g.descrizione}}</h5>
          </ion-label>
          <img *ngIf="g.foto" [src]="'assets/giocatori/' + g.foto" [alt]="g.nome + ' ' + g.cognome" class="foto" />
        </ion-item>
      </ion-list>
      <div *ngIf="giocatori.length === 0" >
        Nessun giocatore trovato.
      </div>
      </div>
      </div>
    