
.sfondo{
  z-index: 0;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  margin-left: 240px;
  margin-top: 56px;
  height: calc(100vh - 56px - 15px);
  background: url('/assets/img/palloneoro.jpg') center center/cover no-repeat;
  pointer-events: none;
}

.main-body {
  flex: 1;
  position:relative;
  z-index: 1;
  background: transparent;
  color: var(--prestige-navy);
  padding: 5px ;
  box-sizing: border-box;
}

h2 {
  font-family: 'Barlow Semi Condensed', serif;
  color: #af0000;
  font-weight: 200;
  font-size: 2.8em;
  letter-spacing: 0.02em;
  text-align: center;         // centrato
  margin: 4px auto 4px auto;
  text-shadow:
    1px 2px 0 #e43f15,
    1px 0px 0 #e43f15,
    0px 2px 0 #e43f15,
    2px 2px 0 #e43f15;
}
.giocatore-item, h3 { color: #dd9a0a; font-size: 2.2em; font-weight: bold; color: #dd9a0a; text-align: center; margin-bottom: 8px;  }

.giocatore-item, h4 { color: #b80000; }

.giocatore-item, h5 { color: #04bbe9; font-style: italic; font-size: 1.1em; margin-top: 8px; padding-right: 20px;}
<<<<<<< HEAD

=======
.center-row {
  justify-content: center;
  display: flex;
}
>>>>>>> b46ab26f6077f6b92a18b47ba3ccab8da8f35e6d


.foto{
  width: 300px; height: 300px; object-fit: cover; border-radius: 40px; margin-right: 16px;  background: #c5acac; // Sfondo bianco
}