ion-toolbar {
  --background: var(--prestige-navy);
  --color: var(--prestige-gold);
}

ion-content {
  --background: var(--prestige-gray);
}

ion-item {
  --background: var(--prestige-white);
}

ion-button {
  --background: var(--prestige-gold);
  --color: var(--prestige-navy);
}