<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registrati</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onRegister()" #registerForm="ngForm">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" name="nome" [(ngModel)]="nome" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="password" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Conferma Password</ion-label>
      <ion-input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" required></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="registerForm.invalid">Registrati</ion-button>
  </form>
</ion-content>