ion-toolbar {
  --background: var(--prestige-navy);
  --color: var(--prestige-gold);
}

ion-content {
  height: 100%;
  min-height: 100vh;
  --overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  --background: var(--prestige-gray);
}

ion-item {
  --background: var(--prestige-white);
  margin-bottom: 16px;
  border-radius: 8px;
}

ion-label{
  --color: #000 !important;
}
ion-textarea {
  --color: var(--prestige-navy) !important;
}

ion-input {
  
  --color: var(--prestige-navy);
  --placeholder-color: #c13535;
}

ion-button {
  --background: var(--prestige-gold);
  --color: var(--prestige-navy);
  margin-top: 24px;
  font-weight: bold;
}

form {
  width: 100%;
  max-width: 400px;
  margin: auto;
}


.container {
  text-align: center;
  margin-bottom: 8px; // ridotto
}

.main-body {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 0; // rimosso spazio sopra
}

h1,h2 {
  margin-bottom: 24px;
  color: #af0000;
}
ion-item {
  margin-bottom: 18px; // aumenta lo spazio tra ogni campo
}

.success-msg {
  margin-top: 20px;
  color: #048500;
  font-weight: bold;
}