ion-toolbar {
  --background: var(--prestige-navy);
  --color: var(--prestige-gold);
}

h1.titolo-blu {
  margin-bottom: 24px;
  color: #0B1D51;
  font-weight: bold;
}

ion-content {
  height: 100%;
  min-height: 100vh;
  --overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  --background: var(--prestige-gray);
}

ion-item {
  --background: var(--prestige-white);
  margin-bottom: 16px;
  border-radius: 8px;
}

ion-label{
  --color: #000 !important;
}
ion-textarea {
  --color: var(--prestige-navy) !important;
}

ion-input {
  
  --color: var(--prestige-navy);
  --placeholder-color: #c13535;
}

ion-button {
  --background: var(--prestige-gold);
  --color: var(--prestige-navy);
  margin-top: 24px;
  font-weight: bold;
}

form {
  width: 100%;
  max-width: 400px;
  margin: auto;
}


.container {
  text-align: center;
  margin-bottom: 8px;
}

.main-body {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 0;
}

ion-item {
  margin-bottom: 18px;
}

.success-msg {
  margin-top: 20px;
  color: #048500;
  font-weight: bold;
}

.container p {
  color: #0B1D51;
  font-weight: 500;
}

ion-button[type="submit"] {
  --background: var(--prestige-gold);
  --color: var(--prestige-navy);
  margin-top: 24px;
  font-weight: bold;
  border-radius: 13px;
  transition: background 0.18s, color 0.18s, box-shadow 0.18s, transform 0.15s;
}

ion-button[type="submit"]:hover,
ion-button[type="submit"]:focus {
  --background: #000;
  --color: var(--prestige-gold);
  box-shadow: 0 2px 16px #FFD700cc;
  transform: scale(1.05);
}