.sfondo{
  z-index: 0;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  margin-left: 240px;
  margin-top: 56px;
  height: calc(100vh - 56px - 15px);
  background: url('/assets/img/stadio.jpg') center center/cover no-repeat;
  backdrop-filter: blur(2px);
  pointer-events: none;
}

.main-body {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  color: #111111;
}
h1 {
  color: #af0000;
  margin-bottom: 16px;
}
p {
  font-size: 1.2em;
  margin-bottom: 32px;
}