<div class="sfondo"></div>

<div class="main-body">
  <div class="intro-box">
  <h1>Benvenuto su Elite Football </h1>

  <p class="intro">
    Elite Football è la piattaforma ideale per tutti gli appassionati di calcio. Esplora le sue funzionalità e vivi un'esperienza calcistica completa!
  </p>
  </div>

  <div class="features">
    <div class="feature">
      <div>
        <h2>🏟️ Formazioni</h2>
        <p>
          Crea e salva la tua formazione ideale scegliendo i tuoi giocatori preferiti e disponendoli nel modulo che preferisci e inoltre puoi anche scaricarla se vuoi consevarla.
        </p>
      </div>
      <img src="/assets/img/presformazione.jpg" alt="Formazione">
    </div>

    <div class="feature">
      <div>
        <h2>⚽ Top Giocatori</h2>
        <p>
          Scopri i migliori calciatori secondo il nostro team per ogni ruolo. 
        </p>
      </div>
      <img src="/assets/img/presgiocatori.jpg" alt="Top Giocatori">
    </div>

    <div class="feature">
      <div>
        <h2>🧠 Top Allenatori</h2>
        <p>
          Scopri i migliori allenatori al mondo secondo il nostro team in un confronto tra leggende della panchina.
        </p>
      </div>
      <img src="/assets/img/presallenatore.jpg" alt="Allenatori">
    </div>

    <div class="feature">
      <div>
        <h2>🗣️ Citazioni</h2>
        <p>
          Una raccolta curata delle più belle frasi sul calcio, pronunciate da grandi campioni, allenatori e pensatori.
        </p>
      </div>
      <img src="/assets/img/prescitazione.jpg" alt="Citazioni">
    </div>

    <div class="feature">
      <div>
        <h2>🏆 Torneo H2H</h2>
        <p>
          Scegli i migliori giocatori in emozionanti duelli testa a testa (H2H) fino ad arrivare al vincitore.
        </p>
      </div>
      <img src="/assets/img/presh2h.jpg" alt="H2H">
    </div>

    <div class="feature">
      <div>
        <h2>❓ Quiz</h2>
        <p>
          Metti alla prova la tua conoscenza calcistica rispondendo a quiz di vario livello. Riuscirai a ottenere il punteggio massimo?
        </p>
      </div>
      <img src="/assets/img/presquiz.jpg" alt="Quiz">
    </div>
  </div>
</div>









