<ion-content class="ion-padding">
  <h2 style="text-align: center;">Modulo: {{ modulo }}</h2>
  <div class="campo" [ngClass]="classeModulo">

    <div 
      class="ruolo"
      *ngFor="let ruoloIndicizzato of ruoliIndicizzati"
      [ngClass]="'r-' + ruoloIndicizzato"
      (click)="apriSelezione(ruoloIndicizzato)"
    >
      {{ formazione[ruoloIndicizzato]?.cognome || ruoloIndicizzato.split('-')[0] }}
      <ion-icon
        *ngIf="formazione[ruoloIndicizzato]"
        name="close-circle-outline"
        (click)="rimuoviDiretto($event, ruoloIndicizzato)">
      </ion-icon>
    </div>

  </div>
</ion-content>
