<ion-app>
  <ion-header [translucent]="true" class="main-header">
    <ion-toolbar color="light">
        <img src="assets/icon/logo.png" alt="Logo Elite Football" class="logo" />
      <ion-buttons slot="end">
        <ion-button class="header-btn" (click)="vaiAlLogin()">Login</ion-button>
        <ion-button class="header-btn" (click)="vaiAllaRegistrazione()">Registrati</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="page-layout">
    <div class="sidebar-fixed">
      <ion-list>
        <ion-item button (click)="vaiAllaHome()">🏠 Home</ion-item>
        <ion-item button (click)="vaiATopGiocatori()">⚽ Top Giocatori </ion-item>
        <ion-item button (click)="vaiAAllenatori()">🧠 Allenatori</ion-item>
        <ion-item button (click)="vaiACitazioni()">🗣️ Citazioni</ion-item>
      </ion-list>
    </div>
    <div class="main-content-fixed" >
       <ng-content></ng-content>
    </div>
  </div>

  <ion-footer class="main-footer">
    <ion-toolbar>
      <span class="footer-content">© 2025 Elite Football - Tutti i diritti riservati</span>
    </ion-toolbar>
  </ion-footer>
</ion-app>