.h2h-setup, .h2h-selezione, .h2h-bracket, .h2h-finale 
{ padding: 32px; text-align: center; } 

.sfondo{
  z-index: 0;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  margin-left: 240px;
  margin-top: 56px;
  height: calc(100vh - 56px - 15px);
  background: url('/assets/img/torneo.jpeg') center center/cover no-repeat;
  backdrop-filter: blur(2px);
  pointer-events: none;
}

.main-body {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  color: #111111;
}
ion-card {
  box-shadow: none !important;
  background: transparent !important;
}

ion-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-family: 'Barlow Semi Condensed', serif;
  color: #d12b0e;
  font-weight: 200;
  font-size: 2.8em;
  letter-spacing: 0.02em;
  text-align: center;         // centrato
  margin: 4px auto 4px auto;
  text-shadow:
    1px 2px 0 #e43f15,
    1px 0px 0 #e43f15,
    0px 2px 0 #e43f15,
    2px 2px 0 #e43f15;
}

h3 {
  font-family: 'Barlow Semi Condensed', serif;
  color: #080000;
  font-weight: 200;
  font-size: 2.8em;
  letter-spacing: 0.02em;
  text-align: center;         // centrato
  margin: 4px auto 4px auto;
  text-shadow:
    1px 2px 0 #e43f15,
    1px 0px 0 #e43f15,
    0px 2px 0 #e43f15,
    2px 2px 0 #e43f15;
}

.h2h-giocatore {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.h2h-foto-btn {
  padding: 0;
  margin: 0;
  min-width: unset;
  --background: transparent;
  --box-shadow: none;
}

.h2h-foto {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 0px solid #e71a1a00;
  background: #e7a457;
}

.h2h-nome {
  margin-top: 10px;
  font-weight: bold;
  color: #222;
  text-align: center;
  font-size: 1.5em;
  background: #f9f871;
  border-radius: 30px;
  padding: 4px 16px;
  box-shadow: 0 1px 6px rgb(0, 0, 0);
  max-width: 100%;
  word-break: break-word;
}

ion-button {
  transition: transform 0.15s, box-shadow 0.15s;

  font-size: 1.1em;
}

.h2h-foto-btn:hover .h2h-foto,
.h2h-foto:focus, 
.h2h-foto:active {
  box-shadow: 0 0 300px 40px rgb(77, 185, 5);
  transform: scale(1.07);
  z-index: 2;
}
