<div class="sfondo"></div>
<div class="main-body">
  <h2>Divertiti con gli H2H </h2>
  <div class="h2h-setup" *ngIf="!faseScelta">
    <h3> Scegli la dimensione massima di giocatori </h3>
    <ion-button *ngFor="let f of fasi" (click)="scegliFase(f)">
      {{f}} giocatori
    </ion-button>
  </div>

   <div class="h2h-bracket" *ngIf="bracket.length && !vincitoreFinale">
    <h2>Turno {{turno}}</h2>
    <ion-card *ngIf="bracket[currentSfidaIndex]">
      <ion-card-content>
        <div class="h2h-giocatore">
          <ion-button fill="clear" (click)="scegliVincitore(bracket[currentSfidaIndex], bracket[currentSfidaIndex][0])" class="h2h-foto-btn">
            <img *ngIf="bracket[currentSfidaIndex][0].foto"
                 [src]="'assets/giocatori/' + bracket[currentSfidaIndex][0].foto"
                 [alt]="bracket[currentSfidaIndex][0].nome + ' ' + bracket[currentSfidaIndex][0].cognome"
                 class="h2h-foto" />
          </ion-button>
          <div class="h2h-nome">
            {{bracket[currentSfidaIndex][0].nome}} {{bracket[currentSfidaIndex][0].cognome}}
          </div>
        </div>
        <img src="assets/img/VS.png" alt="VS" class="VS"/>
        <div class="h2h-giocatore">
          <ion-button fill="clear" (click)="scegliVincitore(bracket[currentSfidaIndex], bracket[currentSfidaIndex][1])" class="h2h-foto-btn">
            <img *ngIf="bracket[currentSfidaIndex][1].foto"
                 [src]="'assets/giocatori/' + bracket[currentSfidaIndex][1].foto"
                 [alt]="bracket[currentSfidaIndex][1].nome + ' ' + bracket[currentSfidaIndex][1].cognome"
                 class="h2h-foto" />
          </ion-button>
          <div class="h2h-nome">
            {{bracket[currentSfidaIndex][1].nome}} {{bracket[currentSfidaIndex][1].cognome}}
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="h2h-finale" *ngIf="vincitoreFinale">
    <h2>Vincitore!</h2>
    <ion-card>
    <ion-card-content style="display: flex; flex-direction: column; align-items: center;">
      <img *ngIf="vincitoreFinale.foto"
           [src]="'assets/giocatori/' + vincitoreFinale.foto"
           [alt]="vincitoreFinale.nome + ' ' + vincitoreFinale.cognome"
           class="h2h-foto" />
      <div class="h2h-nome" style="margin-top: 16px;">
        🏆 {{vincitoreFinale.nome}} {{vincitoreFinale.cognome}}
      </div>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="reseth2h()">Nuovo H2H</ion-button>
</div>