<app-layout>
    <ion-content [fullscreen]="true" class="ion-padding main-body">
      <h2>Citazioni</h2>
      <ion-list *ngIf="citazioni.length > 0">
        <ion-item *ngFor="let c of citazioni" class="citazione-item">
          <ion-label>
            <blockquote>“{{c.testo}}”</blockquote>
            <p *ngIf="c.autore">- {{c.autore}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <div *ngIf="citazioni.length === 0">
        Nessuna citazione trovata.
      </div>
    </ion-content>
  </app-layout>
      <!-- The layout component can be used to wrap the content if needed -->