.sfondo{
  z-index: 0;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  margin-left: 240px;
  margin-top: 56px;
  height: calc(100vh - 56px - 15px);
  background-image: url('/assets/img/citazioni.jpg');
  background-size: cover;
  background-position: center;
  pointer-events: none;
}
.main-body {
  position: relative;
  z-index: 2;
  flex: 1;
  background: transparent;
  color: var(--prestige-navy);
  padding: 5px ;
  box-sizing: border-box;
}

h2 {
  font-family: 'Barlow Semi Condensed', serif;
  color: #fceb05;
  font-weight: 200;
  font-size: 2.8em;
  letter-spacing: 0.02em;
  text-align: center;         // centrato
  margin: 4px auto 4px auto;
  text-shadow:
    2px 3px 0 #9c361d,
    2px 0px 0 #9c361d,
    0px 2px 0 #9c361d,
    2px 2px 0 #9c361d;
}

ion-list {
  --background: transparent !important;
  background: transparent !important;
  box-shadow: none !important;
}

.citazione-item {
  margin: 32px 0 32px 0;
  background:#0502014f; 
  box-shadow:#9c361d 20px 0 10px 3px !important; 
  border: none !important;
  --background: transparent !important;
  padding: 0;
}

.citazione-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.citazione-testo-firma {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content:space-between
}

.citazione-testo {
  padding-top: 50px;
  justify-content: center;
  font-size: 1.63em;
  color: #c5a60a;
  font-style: italic;
  line-height: 1.4;
 
}

.citazione-autore {
  justify-content: flex-end;
  font-size: 1.5em;
  color: #f3bb03;
  font-family: 'Pacifico', cursive, sans-serif;
  text-shadow: 0 1px 6px #000a;
  opacity: 0.95;
  align-self: flex-end;
  margin-bottom: 4px;
  margin-left: 4px;
}

.citazione-foto {
  width: 210px;
  height: 270px;
  object-fit: cover;
  border: none;
  border-radius: 7%;
  box-shadow: 0 2px 12px #0006;
  background: #fffbe7;
  display: block;
  margin-left: 18px;
}