<app-layout>
<ion-content>
  <div class="titolo-formazione">
    <h2>Modulo: {{ modulo }}</h2>
    <ion-button fill="clear" class="bottone-indietro" (click)="chiudi()"> Cambia Modulo ↩ </ion-button>
  </div>
  <div class="campo" [ngClass]="classeModulo">
    <div 
      class="ruolo"
      *ngFor="let ruoloIndicizzato of ruoliIndicizzati"
      [ngClass]="'r-' + ruoloIndicizzato"
      (click)="apriSelezione(ruoloIndicizzato)"
    >
      {{ formazione[ruoloIndicizzato]?.cognome || ruoloIndicizzato.split('-')[0] }}
      <ion-icon
        *ngIf="formazione[ruoloIndicizzato]"
        name="close-circle-outline"
        (click)="rimuoviDiretto($event, ruoloIndicizzato)">
      </ion-icon>
    </div>
  </div>
</ion-content>
</app-layout>