
 <ion-content [fullscreen]="true" class="ion-padding main-body">
      <h2>Allenatori</h2>
      <ion-list *ngIf="allenatori.length > 0">
        <ion-item *ngFor="let a of allenatori"  class="allenatore-item">
          <ion-label>
            <h3>{{a.nome}} {{a.cognome}}</h3>
            <p *ngIf="a.squadra">Squadra: {{a.squadra}}</p>
            <p *ngIf="a.trofei">Trofei: {{a.trofei}}</p>
            <p *ngIf="a.descrizione">{{a.descrizione}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <div *ngIf="allenatori.length === 0">
        Nessun allenatore trovato.
      </div>
    </ion-content>
   