
<ion-header><ion-toolbar><ion-title>Migliori Allenatori</ion-title></ion-toolbar></ion-header>
<ion-content class="ion-padding">
  <ion-list *ngIf="allenatori.length > 0">
    <ion-item *ngFor="let a of allenatori">
      <ion-label>
        <h2>{{ a.nome }} {{ a.cognome }}</h2>
        <p>{{ a.descrizione }}</p>
        <strong>Voto: {{ a.voto }}</strong>
      </ion-label>
    </ion-item>
  </ion-list>
  <div *ngIf="allenatori.length == 0">
    Nessun allenatore trovato per questo ruolo.
  </div>
</ion-content>
